html,
body {
    overflow-x: hidden;
}


/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
* {
    font-family: 'Comfortaa', cursive !important;
} */

.btn-primary {
    color: #fff;
    background-color: #3e3e3e !important;
    border-radius: 20px !important;
    border: solid 0;
}

.btn-primary:focus {
    color: #fff;
    background-color: #3e3e3e !important;
    border-radius: 20px !important;
    border: solid 0 !important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 0%) !important;
}

.navbar-b.navbar-reduce .nav-link:before {
    background-color: #ffffff !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center !important;
    margin-right: -15px;
    margin-left: -15px;
}

.readmore {
    display: inline-block;
    color: #fff;
    /* padding: 0 5px 5px; */
    overflow: hidden;
    background-color: #1b1a1e;
    border-radius: solid 0;
    cursor: pointer;
    border-radius: 8px;
}

.readmore:hover {
    background-color: #1b1a1e8a;
    border-radius: solid 0;
    outline: transparent;
    border-radius: 8px;
}

#more {
    display: none;
}

button#myBtn {
    position: absolute;
    left: 45%;
    color: white;
    background-color: #1b1a1e;
    border-radius: solid 0;
    outline: transparent;
    border-radius: 8px;
    cursor: pointer;
}

@media (min-width: 576px) {
    .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 1 0 66.666667%;
        max-width: 100%;
    }
}

.col-md-12 a {
    color: white !important;
}


/* .mobile {
    display: none !important;
} */

@media (min-width: 700px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 700px) {
    .pc {
        display: none;
    }
}

.mobile .lead {
    font-size: 20px;
}

@media (max-width: 700px) {
    .bg2 {
        height: 800px !important;
        background-size: cover;
        background-attachment: fixed;
        background-position-x: -427px;
        background-position-y: 63px;
        height: 514px;
        filter: grayscale(0.7);
        padding-top: 16px;
    }
}

.bg2 {
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(1);
}

.col-sm-3.col-lg-3 {
    margin-top: 19%;
}

@media (max-width: 700px) {
    h1 {
        font-size: 40px !important;
    }
}